<footer class="footer">
  <span class="footer_content">
    <hr />
    <a href="https://www.facebook.com/tuank17a2/" target="_blank">Contact</a>
    me if you have any questions <br />
    Developed by JPatrick &reg; August 2024
  </span>
</footer>
